* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}



.loginlp {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.lp {
    flex: 1;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lp .contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
}

.lp .contents form{
    margin-bottom: 50px;
}

.lp h1{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: viga;
    font-size: 40px;
    margin-top: 70px;
}

.lp h2 {
    margin-top: 30px;
}

.lp h2, p{
    display: flex;
    justify-content: center;
    font-family: viga;
    color: black;
}


.lp p {
    color: rgb(0, 0, 0, 0.3);
}

.lp h1 span{
    color: #29BFFD;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.lr {
    flex: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/assets/Barbel.jpg);
    background-size: cover;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}


.img {
    flex: 2;
    margin-top: 100px;
    /* margin-left: 67; */
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    /* height: 200px;
    width: 300px; */
    /* background-image: url(/assets/Barbel.jpg); */

  
  
}

.lr h1, h2 {
    color: white;
    z-index: 2;
}


.lr::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(24, 28, 50);
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.5046393557422969) 0%,
        rgba(51, 51, 51, 0.5) 100%
    );
    position: absolute;
    bottom: 0;
}


@media (max-width: 991.98px) {
    

    .lp {
        display: flex;
        z-index: 2;
        flex: 1;
    }

    .lr {
        display:none;
    }
    
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  
  .mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  
  .mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  
  .mx-3 {
    margin-right: 0.75rem !important;
    margin-left: 0.75rem !important;
  }
  
  .mx-4 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  
  .mx-5 {
    margin-right: 1.25rem !important;
    margin-left: 1.25rem !important;
  }
  
  .mx-6 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  
  .mx-7 {
    margin-right: 1.75rem !important;
    margin-left: 1.75rem !important;
  }
  
  .mx-8 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }
  
  .mx-9 {
    margin-right: 2.25rem !important;
    margin-left: 2.25rem !important;
  }
  
  .mx-10 {
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important;
  }
  
  .mx-11 {
    margin-right: 2.75rem !important;
    margin-left: 2.75rem !important;
  }
  
  .mx-12 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  
  .mx-13 {
    margin-right: 3.25rem !important;
    margin-left: 3.25rem !important;
  }
  
  .mx-14 {
    margin-right: 3.5rem !important;
    margin-left: 3.5rem !important;
  }
  
  .mx-15 {
    margin-right: 3.75rem !important;
    margin-left: 3.75rem !important;
  }
  
  .mx-16 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
  
  .mx-17 {
    margin-right: 4.25rem !important;
    margin-left: 4.25rem !important;
  }
  
  .mx-18 {
    margin-right: 4.5rem !important;
    margin-left: 4.5rem !important;
  }
  
  .mx-19 {
    margin-right: 4.75rem !important;
    margin-left: 4.75rem !important;
  }
  
  .mx-20 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }
  
  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  
  .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  
  .my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  
  .my-3 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
  }
  
  .my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  
  .my-5 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
  }
  
  .my-6 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  
  .my-7 {
    margin-top: 1.75rem !important;
    margin-bottom: 1.75rem !important;
  }
  
  .my-8 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  
  .my-9 {
    margin-top: 2.25rem !important;
    margin-bottom: 2.25rem !important;
  }
  
  .my-10 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
  }
  
  .my-11 {
    margin-top: 2.75rem !important;
    margin-bottom: 2.75rem !important;
  }
  
  .my-12 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  
  .my-13 {
    margin-top: 3.25rem !important;
    margin-bottom: 3.25rem !important;
  }
  
  .my-14 {
    margin-top: 3.5rem !important;
    margin-bottom: 3.5rem !important;
  }
  
  .my-15 {
    margin-top: 3.75rem !important;
    margin-bottom: 3.75rem !important;
  }
  
  .my-16 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
  
  .my-17 {
    margin-top: 4.25rem !important;
    margin-bottom: 4.25rem !important;
  }
  
  .my-18 {
    margin-top: 4.5rem !important;
    margin-bottom: 4.5rem !important;
  }
  
  .my-19 {
    margin-top: 4.75rem !important;
    margin-bottom: 4.75rem !important;
  }
  
  .my-20 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }
  
  .my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  
  .mt-0 {
    margin-top: 0 !important;
  }
  
  .mt-1 {
    margin-top: 0.25rem !important;
  }
  
  .mt-2 {
    margin-top: 0.5rem !important;
  }
  
  .mt-3 {
    margin-top: 0.75rem !important;
  }
  
  .mt-4 {
    margin-top: 1rem !important;
  }
  
  .mt-5 {
    margin-top: 1.25rem !important;
  }
  
  .mt-6 {
    margin-top: 1.5rem !important;
  }
  
  .mt-7 {
    margin-top: 1.75rem !important;
  }
  
  .mt-8 {
    margin-top: 2rem !important;
  }
  
  .mt-9 {
    margin-top: 2.25rem !important;
  }
  
  .mt-10 {
    margin-top: 2.5rem !important;
  }
  
  .mt-11 {
    margin-top: 2.75rem !important;
  }
  
  .mt-12 {
    margin-top: 3rem !important;
  }
  
  .mt-13 {
    margin-top: 3.25rem !important;
  }
  
  .mt-14 {
    margin-top: 3.5rem !important;
  }
  
  .mt-15 {
    margin-top: 3.75rem !important;
  }
  
  .mt-16 {
    margin-top: 4rem !important;
  }
  
  .mt-17 {
    margin-top: 4.25rem !important;
  }
  
  .mt-18 {
    margin-top: 4.5rem !important;
  }
  
  .mt-19 {
    margin-top: 4.75rem !important;
  }
  
  .mt-20 {
    margin-top: 5rem !important;
  }
  
  .mt-auto {
    margin-top: auto !important;
  }
  
  .me-0 {
    margin-right: 0 !important;
  }
  
  .me-1 {
    margin-right: 0.25rem !important;
  }
  
  .me-2 {
    margin-right: 0.5rem !important;
  }
  
  .me-3 {
    margin-right: 0.75rem !important;
  }
  
  .me-4 {
    margin-right: 1rem !important;
  }
  
  .me-5 {
    margin-right: 1.25rem !important;
  }
  
  .me-6 {
    margin-right: 1.5rem !important;
  }
  
  .me-7 {
    margin-right: 1.75rem !important;
  }
  
  .me-8 {
    margin-right: 2rem !important;
  }
  
  .me-9 {
    margin-right: 2.25rem !important;
  }
  
  .me-10 {
    margin-right: 2.5rem !important;
  }
  
  .me-11 {
    margin-right: 2.75rem !important;
  }
  
  .me-12 {
    margin-right: 3rem !important;
  }
  
  .me-13 {
    margin-right: 3.25rem !important;
  }
  
  .me-14 {
    margin-right: 3.5rem !important;
  }
  
  .me-15 {
    margin-right: 3.75rem !important;
  }
  
  .me-16 {
    margin-right: 4rem !important;
  }
  
  .me-17 {
    margin-right: 4.25rem !important;
  }
  
  .me-18 {
    margin-right: 4.5rem !important;
  }
  
  .me-19 {
    margin-right: 4.75rem !important;
  }
  
  .me-20 {
    margin-right: 5rem !important;
  }
  
  .me-auto {
    margin-right: auto !important;
  }
  
  .mb-0 {
    margin-bottom: 0 !important;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem !important;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem !important;
  }
  
  .mb-3 {
    margin-bottom: 0.75rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1rem !important;
  }
  
  .mb-5 {
    margin-bottom: 1.25rem !important;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem !important;
  }
  
  .mb-7 {
    margin-bottom: 1.75rem !important;
  }
  
  .mb-8 {
    margin-bottom: 2rem !important;
  }
  
  .mb-9 {
    margin-bottom: 2.25rem !important;
  }
  
  .mb-10 {
    margin-bottom: 2.5rem !important;
  }
  
  .mb-11 {
    margin-bottom: 2.75rem !important;
  }
  
  .mb-12 {
    margin-bottom: 3rem !important;
  }
  
  .mb-13 {
    margin-bottom: 3.25rem !important;
  }
  
  .mb-14 {
    margin-bottom: 3.5rem !important;
  }
  
  .mb-15 {
    margin-bottom: 3.75rem !important;
  }
  
  .mb-16 {
    margin-bottom: 4rem !important;
  }
  
  .mb-17 {
    margin-bottom: 4.25rem !important;
  }
  
  .mb-18 {
    margin-bottom: 4.5rem !important;
  }
  
  .mb-19 {
    margin-bottom: 4.75rem !important;
  }
  
  .mb-20 {
    margin-bottom: 5rem !important;
  }
  
  .mb-auto {
    margin-bottom: auto !important;
  }
  
  .ms-0 {
    margin-left: 0 !important;
  }
  
  .ms-1 {
    margin-left: 0.25rem !important;
  }
  
  .ms-2 {
    margin-left: 0.5rem !important;
  }
  
  .ms-3 {
    margin-left: 0.75rem !important;
  }
  
  .ms-4 {
    margin-left: 1rem !important;
  }
  
  .ms-5 {
    margin-left: 1.25rem !important;
  }
  
  .ms-6 {
    margin-left: 1.5rem !important;
  }
  
  .ms-7 {
    margin-left: 1.75rem !important;
  }
  
  .ms-8 {
    margin-left: 2rem !important;
  }
  
  .ms-9 {
    margin-left: 2.25rem !important;
  }
  
  .ms-10 {
    margin-left: 2.5rem !important;
  }
  
  .ms-11 {
    margin-left: 2.75rem !important;
  }
  
  .ms-12 {
    margin-left: 3rem !important;
  }
  
  .ms-13 {
    margin-left: 3.25rem !important;
  }
  
  .ms-14 {
    margin-left: 3.5rem !important;
  }
  
  .ms-15 {
    margin-left: 3.75rem !important;
  }
  
  .ms-16 {
    margin-left: 4rem !important;
  }
  
  .ms-17 {
    margin-left: 4.25rem !important;
  }
  
  .ms-18 {
    margin-left: 4.5rem !important;
  }
  
  .ms-19 {
    margin-left: 4.75rem !important;
  }
  
  .ms-20 {
    margin-left: 5rem !important;
  }
  .m-n1 {
    margin: -0.25rem !important;
  }
  
  .m-n2 {
    margin: -0.5rem !important;
  }
  
  .m-n3 {
    margin: -0.75rem !important;
  }
  
  .m-n4 {
    margin: -1rem !important;
  }
  
  .m-n5 {
    margin: -1.25rem !important;
  }
  
  .m-n6 {
    margin: -1.5rem !important;
  }
  
  .m-n7 {
    margin: -1.75rem !important;
  }
  
  .m-n8 {
    margin: -2rem !important;
  }
  
  .m-n9 {
    margin: -2.25rem !important;
  }
  
  .m-n10 {
    margin: -2.5rem !important;
  }
  
  .m-n11 {
    margin: -2.75rem !important;
  }
  
  .m-n12 {
    margin: -3rem !important;
  }
  
  .m-n13 {
    margin: -3.25rem !important;
  }
  
  .m-n14 {
    margin: -3.5rem !important;
  }
  
  .m-n15 {
    margin: -3.75rem !important;
  }
  
  .m-n16 {
    margin: -4rem !important;
  }
  
  .m-n17 {
    margin: -4.25rem !important;
  }
  
  .m-n18 {
    margin: -4.5rem !important;
  }
  
  .m-n19 {
    margin: -4.75rem !important;
  }
  
  .m-n20 {
    margin: -5rem !important;
  }
  
  .mx-n1 {
    margin-right: -0.25rem !important;
    margin-left: -0.25rem !important;
  }
  
  .mx-n2 {
    margin-right: -0.5rem !important;
    margin-left: -0.5rem !important;
  }
  
  .mx-n3 {
    margin-right: -0.75rem !important;
    margin-left: -0.75rem !important;
  }
  
  .mx-n4 {
    margin-right: -1rem !important;
    margin-left: -1rem !important;
  }
  
  .mx-n5 {
    margin-right: -1.25rem !important;
    margin-left: -1.25rem !important;
  }
  
  .mx-n6 {
    margin-right: -1.5rem !important;
    margin-left: -1.5rem !important;
  }
  
  .mx-n7 {
    margin-right: -1.75rem !important;
    margin-left: -1.75rem !important;
  }
  
  .mx-n8 {
    margin-right: -2rem !important;
    margin-left: -2rem !important;
  }
  
  .mx-n9 {
    margin-right: -2.25rem !important;
    margin-left: -2.25rem !important;
  }
  
  .mx-n10 {
    margin-right: -2.5rem !important;
    margin-left: -2.5rem !important;
  }
  
  .mx-n11 {
    margin-right: -2.75rem !important;
    margin-left: -2.75rem !important;
  }
  
  .mx-n12 {
    margin-right: -3rem !important;
    margin-left: -3rem !important;
  }
  
  .mx-n13 {
    margin-right: -3.25rem !important;
    margin-left: -3.25rem !important;
  }
  
  .mx-n14 {
    margin-right: -3.5rem !important;
    margin-left: -3.5rem !important;
  }
  
  .mx-n15 {
    margin-right: -3.75rem !important;
    margin-left: -3.75rem !important;
  }
  
  .mx-n16 {
    margin-right: -4rem !important;
    margin-left: -4rem !important;
  }
  
  .mx-n17 {
    margin-right: -4.25rem !important;
    margin-left: -4.25rem !important;
  }
  
  .mx-n18 {
    margin-right: -4.5rem !important;
    margin-left: -4.5rem !important;
  }
  
  .mx-n19 {
    margin-right: -4.75rem !important;
    margin-left: -4.75rem !important;
  }
  
  .mx-n20 {
    margin-right: -5rem !important;
    margin-left: -5rem !important;
  }
  .text-start {
    text-align: left !important;
  }
  
  .text-end {
    text-align: right !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .align-items-lg-center {
    align-items: center !important;
  }

  .justify-content-xl-center {
    justify-content: center !important;
  }